.grid {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: -15px;
	letter-spacing: -0.31em
}

.opera:-o-prefocus,
.grid {
	word-spacing: -0.43em
}

.grid__item {
	display: inline-block;
	padding-left: 15px;
	vertical-align: top;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	letter-spacing: normal;
	word-spacing: normal
}

.grid--rev {
	direction: rtl;
	text-align: left
}

.grid--rev>.grid__item {
	direction: ltr;
	text-align: left
}

.grid--full {
	margin-left: 0
}

.grid--full>.post__column,
.grid--full>.grid__item {
	padding-left: 0
}

.grid--right {
	text-align: right
}

.grid--right>.post__column,
.grid--right>.grid__item {
	text-align: left
}

.grid--center {
	text-align: center
}

.grid--center>.post__column,
.grid--center>.grid__item {
	text-align: left
}

.grid--middle>.post__column,
.grid--middle>.grid__item {
	vertical-align: middle
}

.grid--bottom>.post__column,
.grid--bottom>.grid__item {
	vertical-align: bottom
}

.grid--narrow {
	margin-left: -7.5px
}

.grid--narrow>.post__column,
.grid--narrow>.grid__item {
	padding-left: 7.5px
}

.grid--wide {
	margin-left: -30px
}

.grid--wide>.grid__item,
.grid--wide>.post__column {
	padding-left: 30px
}

.desk--one-whole,
.lap--one-whole,
.palm--one-whole,
.one-whole {
	width: 100%
}

.desk--one-whole,
.lap--one-half,
.palm--one-half,
.one-half {
	width: 50%
}

.one-third,
.desk--one-third,
.lap--one-third,
.palm--one-third {
	width: 33.333%
}

.two-thirds,
.desk--two-thirds,
.lap--two-thirds,
.palm--two-thirds {
	width: 66.666%
}

.one-quarter,
.desk--one-quarter,
.lap--one-quarter,
.palm--one-quarter {
	width: 25%
}

.two-quarters,
.desk--two-quarters,
.lap--two-quarters,
.palm--two-quarters {
	width: 50%
}

.three-quarters,
.desk--three-quarters,
.lap--three-quarters,
.palm--three-quarters {
	width: 75%
}

@media only screen and (max-width: 680px) {
	.desk--one-whole,
	.lap--one-whole,
	.palm--one-whole,
	.one-whole {
		width: 100%
	}
	.desk--one-whole,
	.lap--one-half,
	.palm--one-half,
	.one-half {
		width: 50%
	}
	.one-third,
	.desk--one-third,
	.lap--one-third,
	.palm--one-third {
		width: 33.333%
	}
	.two-thirds,
	.desk--two-thirds,
	.lap--two-thirds,
	.palm--two-thirds {
		width: 66.666%
	}
	.one-quarter,
	.desk--one-quarter,
	.lap--one-quarter,
	.palm--one-quarter {
		width: 25%
	}
	.two-quarters,
	.desk--two-quarters,
	.lap--two-quarters,
	.palm--two-quarters {
		width: 50%
	}
	.three-quarters,
	.desk--three-quarters,
	.lap--three-quarters,
	.palm--three-quarters {
		width: 75%
	}
}

@media only screen and (min-width: 681px) and (max-width: 1024px) {
	.desk--one-whole,
	.lap--one-whole,
	.palm--one-whole,
	.one-whole {
		width: 100%
	}
	.desk--one-whole,
	.lap--one-half,
	.palm--one-half,
	.one-half {
		width: 50%
	}
	.one-third,
	.desk--one-third,
	.lap--one-third,
	.palm--one-third {
		width: 33.333%
	}
	.two-thirds,
	.desk--two-thirds,
	.lap--two-thirds,
	.palm--two-thirds {
		width: 66.666%
	}
	.one-quarter,
	.desk--one-quarter,
	.lap--one-quarter,
	.palm--one-quarter {
		width: 25%
	}
	.two-quarters,
	.desk--two-quarters,
	.lap--two-quarters,
	.palm--two-quarters {
		width: 50%
	}
	.three-quarters,
	.desk--three-quarters,
	.lap--three-quarters,
	.palm--three-quarters {
		width: 75%
	}
}

@media only screen and (max-width: 1024px) {
	.desk--one-whole,
	.lap--one-whole,
	.palm--one-whole,
	.one-whole {
		width: 100%
	}
	.desk--one-whole,
	.lap--one-half,
	.palm--one-half,
	.one-half {
		width: 50%
	}
	.one-third,
	.desk--one-third,
	.lap--one-third,
	.palm--one-third {
		width: 33.333%
	}
	.two-thirds,
	.desk--two-thirds,
	.lap--two-thirds,
	.palm--two-thirds {
		width: 66.666%
	}
	.one-quarter,
	.desk--one-quarter,
	.lap--one-quarter,
	.palm--one-quarter {
		width: 25%
	}
	.two-quarters,
	.desk--two-quarters,
	.lap--two-quarters,
	.palm--two-quarters {
		width: 50%
	}
	.three-quarters,
	.desk--three-quarters,
	.lap--three-quarters,
	.palm--three-quarters {
		width: 75%
	}
}

@media only screen and (min-width: 1025px) {
	.desk--one-whole,
	.lap--one-whole,
	.palm--one-whole,
	.one-whole {
		width: 100%
	}
	.desk--one-whole,
	.lap--one-half,
	.palm--one-half,
	.one-half {
		width: 50%
	}
	.one-third,
	.desk--one-third,
	.lap--one-third,
	.palm--one-third {
		width: 33.333%
	}
	.two-thirds,
	.desk--two-thirds,
	.lap--two-thirds,
	.palm--two-thirds {
		width: 66.666%
	}
	.one-quarter,
	.desk--one-quarter,
	.lap--one-quarter,
	.palm--one-quarter {
		width: 25%
	}
	.two-quarters,
	.desk--two-quarters,
	.lap--two-quarters,
	.palm--two-quarters {
		width: 50%
	}
	.three-quarters,
	.desk--three-quarters,
	.lap--three-quarters,
	.palm--three-quarters {
		width: 75%
	}
}

@keyframes highlight {
	0% {
		width: 0%
	}
	100% {
		width: 108%
	}
}


/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

@font-face {
	font-family: 'Archivo Narrow';
	src: url("/fonts/archivo_narrow--bold.eot");
	src: url("/fonts/archivo_narrow--bold.eot?#iefix") format("embedded-opentype"), url("/fonts/archivo_narrow--bold.woff2") format("woff2"), url("/fonts/archivo_narrow--bold.woff") format("woff"), url("/fonts/archivo_narrow--bold.ttf") format("truetype"), url("/fonts/archivo_narrow--bold.svg#archivo_narrowbold") format("svg");
	font-weight: bold;
	font-style: normal
}

@font-face {
	font-family: 'Archivo Narrow';
	src: url("/fonts/archivo_narrow--bold-italic.eot");
	src: url("/fonts/archivo_narrow--bold-italic.eot?#iefix") format("embedded-opentype"), url("/fonts/archivo_narrow--bold-italic.woff2") format("woff2"), url("/fonts/archivo_narrow--bold-italic.woff") format("woff"), url("/fonts/archivo_narrow--bold-italic.ttf") format("truetype"), url("/fonts/archivo_narrow--bold-italic.svg#archivo_narrowbold_italic") format("svg");
	font-weight: bold;
	font-style: italic
}

@font-face {
	font-family: 'Archivo Narrow';
	src: url("/fonts/archivo_narrow--italic.eot");
	src: url("/fonts/archivo_narrow--italic.eot?#iefix") format("embedded-opentype"), url("/fonts/archivo_narrow--italic.woff2") format("woff2"), url("/fonts/archivo_narrow--italic.woff") format("woff"), url("/fonts/archivo_narrow--italic.ttf") format("truetype"), url("/fonts/archivo_narrow--italic.svg#archivo_narrowitalic") format("svg");
	font-weight: normal;
	font-style: italic
}

@font-face {
	font-family: 'Archivo Narrow';
	src: url("/fonts/archivo_narrow.eot");
	src: url("/fonts/archivo_narrow.eot?#iefix") format("embedded-opentype"), url("/fonts/archivo_narrow.woff2") format("woff2"), url("/fonts/archivo_narrow.woff") format("woff"), url("/fonts/archivo_narrow.ttf") format("truetype"), url("/fonts/archivo_narrow].svg#archivo_narrowregular") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'Icons';
	src: url("/fonts/icons.eot?kzowg7");
	src: url("/fonts/icons.eot?#iefixkzowg7") format("embedded-opentype"), url("/fonts/icons.woff?kzowg7") format("woff"), url("/fonts/icons.ttf?kzowg7") format("truetype"), url("/fonts/icons.svg?kzowg7#icons") format("svg");
	font-weight: normal;
	font-style: normal
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box
}

body {
	font-size: 14px;
	margin: 0;
	background-color: #fff;
	color: #000;
	position: relative;
	min-width: 320px;
	font-weight: normal
}

a {
	color: #000;
	outline: none;
	text-decoration: underline
}

a:hover,
a:focus {
	color: #43BFFF
}

a[target=_blank] {
	cursor: alias
}

img {
	max-width: 100%;
	height: auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 24px;
	font-weight: normal
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 20px
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 15px
}

h5 {
	font-size: 12px
}

h6 {
	font-size: 9px
}

figure,
figcaption {
	margin: 0;
	padding: 0
}

abbr[title] {
	border: none;
	cursor: help
}

.is-hidden {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden
}

.is-visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0
}

.site-head {
	width: 100%;
	margin: 0;
	padding: 20px 20px 30px;
	z-index: 10
}

@media only screen and (min-width: 681px) {
	.site-head {
		position: fixed;
		top: 0;
		left: 0;
		width: 260px;
		height: 100vh;
		background-color: #fff;
		padding: 46px 25px 20px 10px
	}
}

.page {
	max-width: 1550px;
	padding-top: 15px
}

@media only screen and (min-width: 681px) {
	.page {
		padding-left: 260px
	}
}

.cv {
	font-family: "Merriweather Sans", sans-serif;
	line-height: 1.5;
	color: #000;
	border: 20px solid #fff;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.cv__inner {
	max-width: 1050px;
	padding: 30px;
	margin: 0 auto
}

.cv__header {
	text-align: center
}

.cv__heading {
	font-weight: 700;
	line-height: 1;
	margin: 0 auto;
	font-size: 24px;
	text-transform: uppercase;
	padding: 20px 0 0
}

@media only screen and (min-width: 681px) {
	.cv__heading {
		font-size: 30px
	}
}

.cv__sub-heading {
	display: block;
	padding-top: 5px;
	text-transform: none;
	font-size: 16px;
	font-weight: 300
}

@media only screen and (min-width: 681px) {
	.cv__sub-heading {
		font-size: 18px
	}
}

.cv__content {
	padding-top: 50px
}

@media only screen and (min-width: 681px) {
	.cv__content {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		padding-top: 65px
	}
}

.cv__primary {
	width: 100%
}

@media only screen and (min-width: 681px) {
	.cv__primary {
		width: calc(100% - 260px);
		padding-right: 45px
	}
}

@media only screen and (min-width: 1025px) {
	.cv__primary {
		padding-right: 75px
	}
}

.cv__secondary {
	width: 100%;
	margin-top: 40px
}

@media only screen and (min-width: 681px) {
	.cv__secondary {
		width: 260px;
		margin-top: 0
	}
}

.cv__section-heading {
	font-size: 20px;
	margin-bottom: 15px;
	text-transform: uppercase;
	line-height: 1
}

.cv__experience {
	list-style: none outside none;
	margin: 0;
	padding: 0
}

.cv__skills {
	list-style: none outside none;
	margin: 0;
	padding: 0
}

.cv__list {
	list-style: none outside none;
	margin: 0;
	padding: 0
}

.cv__list>li {
	border-bottom: 1px solid #ddd;
	padding: 7px 3px 6px
}

.cv__skill {
	margin-bottom: 6px
}

.cv__skill>span {
	position: relative
}

.cv__skill>span::after {
	position: absolute;
	width: 108%;
	display: block;
	content: '';
	bottom: -2px;
	left: -5%;
	background-color: #fff;
	height: 13px;
	z-index: -1;
	animation: highlight 0.75s ease-in
}

.cv__skill:nth-of-type(5n+1)>span::after {
	transform: rotate(-1deg);
	bottom: 0;
	height: 15px;
	animation-duration: 1s
}

.cv__skill:nth-of-type(5n+2)>span::after {
	transform: rotate(1deg);
	height: 14px;
	bottom: -4px
}

.cv__skill:nth-of-type(5n+3)>span::after {
	height: 16px;
	bottom: -1px;
	animation-duration: 1.5s
}

.cv__skill:nth-of-type(5n+4)>span::after {
	transform: rotate(-1deg);
	height: 15px
}

.cv__skill:last-of-type {
	border: none
}

.cv__refs,
.cv__education {
	margin-top: 50px
}

.logo {
	margin: 0;
	font-size: 15px;
	display: inline-block
}

@media only screen and (min-width: 681px) {
	.logo {
		text-align: right
	}
}

.is-active .logo .menu__link {
	color: #fff
}

.is-active .logo .menu__link>span {
	background-color: #000
}

.menu {
	width: 100%;
	list-style: none outside none;
	margin: 0;
	padding: 0
}

.menu__item {
	font-size: 15px;
	margin-bottom: 10px;
	color: #000
}

@media only screen and (min-width: 681px) {
	.menu__item {
		text-align: right
	}
}

.menu__item.is-active .menu__link {
	color: #fff
}

.menu__item.is-active .menu__link>span {
	background-color: #000
}

.menu__item:last-of-type {
	margin-bottom: 0
}

.menu__link {
	text-decoration: none;
	color: #000;
	display: block
}

.menu__link>span {
	display: inline-block;
	padding: 2px
}

.menu__link:hover,
.menu__link:focus {
	color: #43BFFF
}

.icon,
.icon--next:before,
.icon--back:before,
.icon--feed:before {
	font-family: 'Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon--next:before {
	content: "\3e"
}

.icon--back:before {
	content: "\3c"
}

.icon--feed:before {
	content: "\66"
}

.position {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	margin-bottom: 30px
}

@media only screen and (min-width: 681px) {
	.position {
		margin-bottom: 45px
	}
}

.position__company {
	margin-bottom: 5px;
	font-size: 17px
}

.position__meta {
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 0 17px;
	line-height: 1
}

.position__meta>dd {
	display: block;
	padding: 6px 0;
	margin: 0
}

@media only screen and (min-width: 1025px) {
	.position__meta>dd {
		display: inline-block;
		border-bottom: none;
		padding: 0;
		margin: 0 15px 0 0
	}
}

.position__meta>dd:last-of-type {
	margin-right: 0;
	padding-right: 0
}

.position__title {
	padding: 3px;
	position: relative
}

.position__title::after {
	position: absolute;
	display: none;
	line-height: 1;
	content: '';
	bottom: -3px;
	left: -5%;
	background-color: #fff;
	height: 13px;
	z-index: -1;
	animation: highlight 0.5s ease-in
}

@media only screen and (min-width: 1025px) {
	.position__title::after {
		width: 108%;
		display: block
	}
}

.position__url {
	text-transform: none
}

.examples {
	vertical-align: top
}

.examples__heading {
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	margin-bottom: 10px;
	font-size: 14px
}

@media only screen and (min-width: 681px) {
	.examples__heading {
		margin-bottom: 0
	}
}

.examples__list {
	display: inline-block;
	vertical-align: top;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: #333
}

.examples__list>li {
	display: inline-block;
	padding-right: 10px
}

.examples__list>li:last-of-type {
	padding-right: 0
}