@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: view()) {
    .scroll-animate {
      animation: scroll-animate linear forwards;
      animation-timeline: view();
      animation-range-start: entry;
    }

    .scroll-scale-up {
      transform: scale(0);
      animation: scroll-scale-up linear forwards;
      animation-timeline: view();
      animation-range-start: cover 5%;
    }

    .scroll-image {
      animation: scroll-image linear backwards;
      animation-timeline: view();
      animation-range-start: entry;
    }

    .scroll-zoom {
      opacity: 0;
      animation: scroll-zoom linear forwards;
      animation-timeline: view();
      animation-range: entry 50% exit 10%;
    }
  }
}

// keyframes
@keyframes scroll-animate {
  0% {
    transform: translateY(4rem);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
  //   to {
  //     transform: translateY(0);
  //   }
}

@keyframes scroll-scale-up {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
  //   to {
  //     transform: scale(1);
  //   }
}

@keyframes scroll-image {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  25% {
    opacity: 0.7;
    transform: translateY(-2rem);
  }
  50% {
    opacity: 0.8;
    transform: translateY(0);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
  //   to {
  //     opacity: 0.8;
  //     transform: translateY(0);
  //   }
}

@keyframes scroll-zoom {
  0% {
    opacity: 0.33;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
  //   to {
  //     opacity: 1;
  //     transform: scale(1);
  //   }
}
