// display
.display-block {
  display: block !important;
}

.display-flex {
  display: flex !important;
}

.display-none {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

// colours
.inherit {
  color: inherit !important;
}

// spacing
.m-0 {
  margin: 0 !important;
}

.mb-sm {
  margin-bottom: var(--spacer-sm) !important;
}

.gap-sm {
  gap: var(--spacer-sm) !important;
}

// flexbox
.direction-column {
  flex-direction: column;
}
