<footer class="footer fluid-type text-xs">
  <div class="container container--fluid">
    <div class="grid grid--stackable">
      <div class="grid__col d-flex direction-column gap-md">
        <small class="text-xs">&copy; JMC DEV Ltd. 2025</small>

        <div>
          <a href="#intro">Back to top</a>
        </div>
      </div>
      <div class="grid__col lg:text-right mt-lg lg:mt-0">
        Design by
        <a href="https://studiodenley.co.uk/" title="External link"
          >Studio Denley</a
        >
      </div>
    </div>
  </div>
</footer>
