<footer class="footer fluid-type text-xs">
  <div class="container container--fluid">
    <div class="grid grid--stackable lg:grid--reverse">
      <div
        class="grid__col lg:text-right mb-lg lg:mb-0 d-flex direction-column gap-md"
      >
        <div>
          Design by
          <a
            href="https://studiodenley.co.uk/"
            rel="external"
            title="External link"
            >Studio Denley</a
          >
        </div>
        <aside>
          <p class="text-xs">
            If you want, you can find me on
            <a
              href="https://github.com/greenandlonely"
              rel="external"
              title="External link"
              >GitHub</a
            >
            and/or
            <a
              href="https://www.linkedin.com/in/jmc-dev/"
              rel="external"
              title="External link"
              >LinkedIn</a
            >.
          </p>
        </aside>
      </div>
      <div class="grid__col d-flex direction-column gap-md">
        <small class="text-xs">&copy; JMC DEV Ltd. 2025</small>

        <div>
          <a href="#top">Back to top</a>
        </div>
      </div>
    </div>
  </div>
</footer>
