<footer class="footer fluid-type text-xs">
  <div class="container container--fluid">
    <div class="grid grid--stackable">
      <div class="grid__col d-flex direction-column gap-md">
        <small class="text-xs">&copy; JMC DEV Ltd. 2025</small>

        <div>
          <a href="#intro">Back to top</a>
        </div>
      </div>
      <div
        class="grid__col lg:text-right mt-lg lg:mt-0 d-flex direction-column gap-md"
      >
        <div>
          Design by
          <a
            href="https://studiodenley.co.uk/"
            title="External link to Studio Denley"
            >Studio Denley</a
          >
        </div>
        <aside>
          <p class="text-xs">
            Thanks for coming. You can also find me on
            <a
              href="https://github.com/greenandlonely"
              rel="external"
              title="External link to my GitHub page"
              >GitHub</a
            >
            and
            <a
              href="https://www.linkedin.com/in/jmc-dev/"
              rel="external"
              title="External link to my LinkedIn profile"
              >LinkedIn</a
            >.
          </p>
        </aside>
      </div>
    </div>
  </div>
</footer>
