.availability {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-lgr);
  font-weight: bold;

  @include bp(md) {
    gap: var(--spacer-xl);
  }

  &__value {
    text-transform: uppercase;

    &--available {
      color: var(--teal-light);
    }

    &--partial {
      color: var(--yellow-light);
    }

    &--booked {
      color: var(--red-light);
    }
  }
}
