.container {
  $self: &;

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 var(--spacer);

  @include bp(md) {
    padding: 0 var(--spacer-xl);
  }

  &--full {
    max-width: 100%;
  }

  &--fluid {
    max-width: 1100px;
    max-width: var(--container--fluid-mw);
  }
}
