.logo {
  z-index: 100;
  max-width: $logo-width;
  width: 100%;
  display: block;

  @include bp(md-only) {
  }
  @include bp(md) {
    max-width: 100px;
    position: fixed;
    top: $logo-offset;
    left: $logo-offset;
  }
  @include bp(xl) {
    max-width: $logo-width;
  }

  > * {
    width: 100%;
    display: block;
  }
}
