.position {
  @include bare-list;
  margin-bottom: var(--spacer-lgr);

  @include bp(md) {
    margin-bottom: var(--spacer-xl);
  }

  &__meta {
    margin: 0 0 var(--spacer);
    display: flex;
    align-items: center;
    gap: 0 0.75rem;
  }

  &__title {
    background: transparent url(../images/dot-grey.svg) no-repeat center right;
    background-size: 1rem;
    padding-right: 1.75rem;
  }

  &__url {
    text-transform: none;
  }
}
