.position {
  &:not(:last-child) {
    margin-bottom: var(--spacer-lgr);
  }

  &__meta {
    margin: 0 0 var(--spacer);
    display: flex;
    align-items: center;
    gap: 0 0.75rem;
  }

  &__title,
  &__type {
    &::after {
      content: "\2014";
      padding-left: 0.75rem;
    }
  }
}
