<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="JMC.DEV provides accessible, fast and performative websites, apps and design systems to clients all around the world"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>
      JMC.DEV - The home of James Clarke, freelance front-end developer &amp;
      accessibility specialist
    </title>

    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <header class="header" role="banner" id="top">
      <div class="container container--full">{% include "_logo.html" %}</div>
    </header>

    <main id="main-content" class="fluid-type">{{content}}</main>

    {% include "_footer.html" %}

    <script src="js/output/bundle.js"></script>
  </body>
</html>
