//-- SASS VARIABLES --//

//breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 420px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1400px;
$breakpoint-xxl: 1680px;

// typography
$base-font: "Geomanist", Helvetica, Arial, sans-serif;
$text-xxl: 4rem; // 64px
$text-xl: 2.25rem; // 36px
$text-lg: 1.625rem; // 26px
$text-md: 1.3125rem; // 21px
$text-sm: 1.125rem; // 18px
$text-xs: 1rem; // 16px
$text-min: 0.9375rem; // 15px

// component-specifics
$page-gutter: 3rem;
$logo-offset: 2rem;
$logo-width: 200px;
$logo-width--md: 100px;

// animation delays
$delay-1: 0.25s;
$delay-2: 0.5s;
$delay-3: 0.75s;
$delay-4: 1s;
